<div class="col-md-9">
  <h2> Tasks</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Due date</th>
      <th>Resolved at</th>      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks | async | taskFilterPipe">
      <td class="hidden">{{task.id}}</td>
      <td>{{task.createdAt | date:'dd-MM-yyyy HH:mm:ss'}}</td>
      <td>{{task.updatedAt | date:'dd-MM-yyyy HH:mm:ss'}}</td>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.status}}</td>
      <td>{{task.dueDate | date:'dd-MM-yyyy'}}</td>
      <td>{{task.resolvedAt | date:'dd-MM-yyyy'}}</td>
      <td><button class="btn btn-danger" (click)="editTask(task)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>