<div class="col-md-6">
  <h2 class="text-center">Edit Task</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
    </div>
    
    <div class="form-group">
      <label for="description">Description:</label>
      <input formControlName="description" placeholder="Description" name="description" class="form-control" id="description">
    </div>
    <div class="form-group">
      <label for="priority">Priority:</label>
      <input formControlName="priority" placeholder="Priority" name="priority" class="form-control" id="priority">
    </div>
    <div class="form-group">
      <label for="status">Status:</label>
      <input formControlName="status" placeholder="Status" name="status" class="form-control" id="status">
    </div>
    <div class="form-group">
      <label for="dueDate">Due date:</label>      
      <input type="date" formControlName="dueDate" placeholder="Due date" name="dueDate" class="form-control" id="dueDate" [ngClass]="{ 'is-invalid': submitted && f.dueDate.errors }">
      <div *ngIf="submitted && f.dueDate.errors" class="invalid-feedback">
        <div *ngIf="f.dueDate.errors.required" class="alert alert-danger">Due date is required</div>
      </div>
    </div>    
    <div class="form-group">
      <label for="resolvedAt">Resolved at:</label>      
      <input type="date" formControlName="resolvedAt" placeholder="Resolved at" name="resolvedAt" class="form-control" id="resolvedAt" [ngClass]="{ 'is-invalid': submitted && f.resolvedAt.errors }">
      <div *ngIf="submitted && f.resolvedAt.errors" class="invalid-feedback">
        <div *ngIf="f.resolvedAt.errors.required" class="alert alert-danger">Resolved at is required</div>
      </div>
    </div>  
    <input type="hidden" formControlName="id" id="id" name="id" class="form-control"/>
    <input type="hidden" formControlName="createdAt" id="createdAt" name="createdAt" class="form-control"/>
    <input type="hidden" formControlName="updatedAt" id="updatedAt" name="updatedAt" class="form-control"/>    
    <input type="hidden" formControlName="resolvedAt" id="resolvedAt" name="resolvedAt" class="form-control"/>
    <button class="btn btn-success">Update</button>
  </form>
</div>